.button-horizontal-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.button-horizontal-list > li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    margin-right: 10px;
}

i[class*="fa-"] {
    vertical-align: middle;
}

.pagination-text {
    margin-top: 30px;
}

.table-list {
    margin-top: 30px;
}
