/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/tmp/*
!/web/uploads/tmp/.gitkeep
/web/uploads/avatars/*
!/web/uploads/avatars/.gitkeep
/web/uploads/news/*
!/web/uploads/news/.gitkeep
/web/uploads/page/*
!/web/uploads/page/.gitkeep
Gemfile.lock
