{% block start %}
    <table
        class="table table-striped table-bordered table-hover {% if class is defined %}{{ class }}{% endif %}"
        {% if id is defined %}id="{{ id }}"{% endif %}
    >
{% endblock %}
{#----------------------------------------------------------#}
{% block end %}
</table>
{% endblock %}
{#----------------------------------------------------------#}
{% block thead %}

{% endblock %}
{#----------------------------------------------------------#}
{% block tbody %}

{% endblock %}
{#----------------------------------------------------------#}
