{% extends 'TnqsoftDemoBundle:Layout:layout-crud.html.twig' %}
{##############################################################################}
{% block bodyRight %}
    <div class="page-header">
        <h1>Author
            <small>Edit</small>
        </h1>
    </div>

    {% include 'TnqsoftDemoBundle:Author:form.html.twig' with {
        'entity': entity,
        'form': form,
    } %}

{% endblock %}
