{% extends 'TnqsoftMaterialBundle:Layout:layout.html.twig' %}
{##############################################################################}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tnqsoftadmin/css/style.css') }}" type="text/css" media="all"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/tnqsoftadmin/js/script.js') }}"></script>
{% endblock %}
{##############################################################################}
{% block columns %}

    {% include 'TnqsoftAdminBundle:Partials:nav.html.twig' with {} %}

    <div class="container-fluid">
        {{ render_breadcrumb(breadcrumb) }}

        {% block body %}{% endblock %}
    </div>
    <!-- /.container -->
    {{ modal_delete() }}
{% endblock %}
