.file-item {
}
.file-item .thumbnail {
    position: relative;
}
.file-item .file-item-selected {
    display: none;
    position: absolute;
    top: -8px;
    right: 5px;
    background-color: #fff;
}
.file-item .btn-delete {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: red;
}
.file-item .btn-edit {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #ff6600;
}
.file-item:hover .btn-delete,
.file-item:hover .btn-edit {
    display: inline-block;
}
.file-item.active .file-item-selected {
    display: inline-block;
}
.file-item.active .thumbnail {
    border-color: #00A65A;
}
.file-item.active .file-item-selected {
    color: #00A65A;
}
.file-item .file-item-display {
    height: 90px;
}
.file-item .file-item-name {
    height: 30px;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    display: block;
}
.file-item .progress {
    height: 5px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}
.file-item.state-uploading .progress {
    display: block;
}

.file-item-info {
    background-color: #F7F7F9;
    padding: 20px;
    font-size: 11px;
}
.file-item-info h5 {
    margin: 0px;
    padding: 0px;
}
.file-item-info hr {
    margin-top: 5px;
    margin-bottom: 15px;
}
#modalFileManager .modal-dialog {
    width: 90%;
}
#modalFileManager .list-file {
    height: 410px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(../img/drop-bg.png) no-repeat 50% 50%;
}
#modalFileManager .file-item-info {
    height: 410px;
    display: none;
    overflow: hidden;
}

.jcrop-keymgr {
    opacity: 0;
}
