{% extends 'TnqsoftMaterialBundle:Layout:layout.html.twig' %}

{% block columns %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <!-- /.container -->
{% endblock %}
