{% extends 'TnqsoftAdminBundle:Layout:layout-crud.html.twig' %}
{##############################################################################}
{% block bodyRight %}
    <div class="page-header">
        <h1>Author
            <small>Create</small>
        </h1>
    </div>

    {% include 'TnqsoftAdminBundle:Author:form.html.twig' with {
        'entity': entity,
        'form': form,
    } %}

{% endblock %}
