{% extends 'TnqsoftMaterialBundle:Common:Modal/base.html.twig' %}

{% block modalHeader %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center">Xác nhận xóa</h4>
{% endblock %}

{% block modalBody %}
    <h5 class="text-center text-warning">
        {{ icon({
            'icon': 'question-circle-o fa-2x'
        }) }}
        Bạn có muốn xóa không?
    </h5>
{% endblock %}

{% block modalFooter %}
    <p class="text-center">
        {{ button({
            'text': 'Cancel',
            'icon': 'times',
            'attr': 'data-dismiss="modal" aria-label="Close"'
        }) }}
        {{ button({
            'text': 'Delete',
            'class': 'danger btn-modal-delete',
            'icon': 'trash',
        }) }}
    </p>
{% endblock %}
