<p>
  <a href="#" class="btn btn-squared btn-primary">
    <i class="fa fa-pencil fa-2x"></i>
    <span>Trang</span>
  </a>
  <a href="#" class="btn btn-squared btn-primary">
    <i class="fa fa-pencil-square-o fa-2x"></i>
    <span>Tin tức</span>
  </a>
  <a href="#" class="btn btn-squared btn-primary">
    <i class="fa fa-picture-o fa-2x"></i>
    <span>Thư viện ảnh</span>
  </a>
  <a href="#" class="btn btn-squared btn-primary">
    <i class="fa fa-cubes fa-2x"></i>
    <span>Sản phẩm</span>
  </a>
  <a href="#" class="btn btn-squared btn-info">
    <i class="fa fa-users fa-2x"></i>
    <span>Khách hàng</span>
  </a>
  <a href="#" class="btn btn-squared btn-info">
    <i class="fa fa-cart-arrow-down fa-2x"></i>
    <span class="badge">4</span>
    <span>Đơn hàng</span>
  </a>
  <a href="#" class="btn btn-squared btn-info">
    <i class="fa fa-inbox fa-2x"></i>
    <span class="badge">4</span>
    <span>Liên hệ</span>
  </a>
  <a href="#" class="btn btn-squared btn-info">
    <i class="fa fa-comments-o fa-2x"></i>
    <span class="badge">4</span>
    <span>Ý kiến<br/>người dùng</span>
  </a>
  <a href="#" class="btn btn-squared btn-success">
    <i class="fa fa-line-chart fa-2x"></i>
    <span>Báo cáo</span>
  </a>
  <a href="#" class="btn btn-squared btn-warning">
    <i class="fa fa-user-secret fa-2x"></i>
    <span>Người dùng</span>
  </a>
  <a href="#" class="btn btn-squared btn-warning">
    <i class="fa fa-cogs fa-2x"></i>
    <span>Cấu hình</span>
  </a>
  <a href="#" class="btn btn-squared btn-warning">
    <i class="fa fa-bars fa-2x"></i>
    <span>Menu</span>
  </a>
  <a href="#" class="btn btn-squared btn-warning">
    <i class="fa fa-language fa-2x"></i>
    <span>Ngôn ngữ</span>
  </a>
</p>
