{% if entity.id is not null %}
    <div class="form-group text-muted">
        <label class="control-label">{{ 'Created At'|trans }}:</label>
        {{ entity.createdAt|dateDisplay}}
    </div>
    {% if entity.updatedAt is not null %}
        <div class="form-group text-muted">
            <label class="control-label">{{ 'Updated At'|trans }}:</label>
            {{ entity.updatedAt|dateDisplay}}
        </div>
    {% endif %}
{% endif %}
